nav{
    background-color: #ffc9e9;
}
body{
    background-color: #ffe8f8;
    color: #c15d75;
    font-size: 175%;
    //font-weight: bold;
    font-family: 'Kalam';
}
h1{
    //color: #d60e3e;
    //color: #f26887;
    //color: #fc7190;
    color: #ff476f;
    font-size: 250%;
    //font-weight: bold;
    font-family: 'Great Vibes';
}
h3{
    //color: #f20e45;
    //color: #ff89a3;
    color: #c64b69;
    font-size: 175%;
    //font-weight: bold;
    font-family: 'Tangerine';
}
a{
    color: #f77695;
}
a:hover{
    color: #ffb2c4;
}
form{ 
    color: #c64b69;
}
input{
    //color: #000000;
    //color: #77001a;
    //color: #bf2043;
    color: #c62146;
    font-weight: normal;

}
.nav-title{
    color: #ff0000; 
    font-size: 125%;
    font-weight: bold;
    font-family: 'Great Vibes';
}
.nav-text{
    color: #ff6363;
    font-weight: bold;
    font-family: 'Kalam';
}
.nav-title:hover{
    color: #ffffff;
}
