nav{
    background-color:#91d8ff;
}
body{
    background-color: #aaeeff;
    //color: #1e9aff;
    //color: #1a0aff;
    //color: #16a5ff;
    //color: #1283c9;
    color: #1789e8;
    font-size: 175%;
    //font-weight: bold;
    font-family: 'Kalam';
}
h1{
    color: #1a0aff;
    //color: #1e9aff;
    font-size: 250%;
    //font-weight: bold;
    font-family: 'Great Vibes';
}
h3{
    color: #3198ed;
    font-size: 175%;
    font-weight: bold;
    font-family: 'Tangerine';
}
a{
    color: #49b8ff;
    font-weight: bold;
}
a:hover{
    color: #7bd7fc;
}
.aclick-here{
    font-size: 110%;
}
input{
    //color: #009ad8;
    //color: #007fb2;
    //color: #00577a;
    color: #016087;
}
.nav-title{
    color: #1e9aff; 
    font-size: 125%;
    font-weight: bold;
    font-family: 'Great Vibes';
}
.nav-text{
    color: #1e9aff;
    font-weight: bold;
    font-family: 'Kalam';
}
.nav-title:hover{
    color: #ffffff;
}
.footer{
    //background-color: #97e8fc;
    background-color: #a0ecff;
}
.logout{
    font-weight: bold;
    font-size: 175%;
    color: #3198ed;
    font-family: 'Tangerine';
}
.logout:hover{
    color: #59b1f9;
}
