nav{
    background-color:#91d8ff;
}
body{
    background-color: #aaeeff;
    color: #1e9aff;
    font-size: 175%;
    font-weight: bold;
    font-family: 'Kalam';
}
h1{
    color: #1e9aff;
    font-size: 250%;
    font-weight: bold;
    font-family: 'Great Vibes';
}
h3{
    color: #1e9aff;
    font-size: 175%;
    font-weight: bold;
    font-family: 'Tangerine';
}
a{
    color: #1e9aff;
    font-weight: normal;
}
a:hover{
    color: #ffb2c4;
}
form{ 
    color: #1e9aff;
}
input{
    color: #1e9aff;
    font-weight: normal;

}
.nav-title{
    color: #1e9aff; 
    font-size: 125%;
    font-weight: bold;
    font-family: 'Great Vibes';
}
.nav-text{
    color: #1e9aff;
    font-weight: bold;
    font-family: 'Kalam';
}
.nav-title:hover{
    color: #ffffff;
}
