<!DOCTYPE html>
<html>

  <head>
    <title>{% block title %} {% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style1.css">
    <link rel="stylesheet" href="/static/sticky-footer.css">
    <link rel="stylesheet" href="/static/image.css">

    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  </head>

  <body>
    <nav class="navbar navbar-dark navbar-fixed-top">
      <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="/"><span class="nav-title">For the Love of Art</span></a>
	</div>

	{% if notlogged %}
	<ul class="nav navbar-nav navbar-right">
	  <li><a href="/register"><span class="nav-text">Register!</span></a></li>
	  <li><a href="/login"><span class="nav-text">Login!</span></a></li>
	</ul>
	{% endif %}

      </div>
    </nav>

    <br><br><br>
<!--
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <center> {{message}} </center>
    {% endfor %}
    {% endif %}
    {% endwith %}
    -->
    {% block body %}
    {% endblock %}


    {% if notlogged %}
    {% else %}
    <footer class="footer">
      <div class="container">
	  <center>
	    <a href="/logout"> <span class="logout">Logout here! </span></a>
	  </center>
      </div>
    </footer>
    {% endif %}



  </body>

</html>
