{% extends "base.html" %}
{% block title %}
    Display
{% endblock %}

{% block body %}

<center>
  <h1>Displaying {{medium}}!</h1>
  Select the pieces that you like, then submit! <br>We'll take the ones you didn't like, and replace them with new pieces that you may like!<br><br>
  
  <span id="display_pics">
    {% for img in images %}
    <label>
      <input type="checkbox"/>
      <img src={{img}} class="rounded">
      
    </label>
    {% endfor %}
    <br>
    <button id="display_submit">Submit!</button>
  </span>
    
  
    <script src="/static/script.js"></script>
</center>

  
{% endblock %}
