{% extends "base.html" %}
{% block title %}
    Display
{% endblock %}

{% block body %}
<!-- <head> -->
    <!-- <script src="/static/script.js"></script> -->
<!-- </head> -->
<center>
  <h1>Displaying {{medium}}!</h1>
  Select the pieces that you like, then submit! <br>We'll take the ones you didn't like, and replace them with new pieces that you may like!<br><br>

  <span id="display_pics">
    {% for img in images %}
    <label>
      <input type="checkbox"/>
      <img src={{img}} class="rounded">

    </label>
    {% endfor %}
    <br>
    <button id="display_submit">Submit!</button>
  </span>

<!--<script src="/static/script.js"></script>  -->

</center>


{% endblock %}

<script>
var display_pics = function(e){
    //alert('test');
    // console.log('test');
    var input=document.getElementsByTagName('input');
    var img=document.getElementsByClass('rounded');
    var i =0;
    while(i < 5) {
        if(input[i].checked) {
            console.log('img ' + i + ' is checked!');
        }
        else{
            console.log('img ' + i + ' isn\'t checked!');
            console.log(input[i]);
        }
        runAjax(img[i].src);
        i++;
    }
};
$(document).ready(function() {
    document.getElementById("display_submit").addEventListener('click', display_pics);
    console.log('test document ready');
});

var runAjax = function(inp) {
    $.ajax({
        type: 'GET',
        url: '/update_display',
        data: {"replace_pics": inp},
        async: true,
        beforeSend: function() {
            console.log('data: '+inp);
        },
        success: function(d){
            console.log('a');
            console.log(d);
            d=JSON.parse(d);
            console.log(d);
            console.log(d['new_pics']);

        }

    });
    return true;
}

</script>
