{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}

{% block login %}
{% if notlogged %}
<ul class="nav navbar-nav navbar-right">
  <li><a href="/register"><span class="nav-text">Register the fuckk!</span></a></li>
  <li><a href="/login"><span class="nav-text">Login!</span></a></li>
</ul>
{% endif %}
{% endblock %}


{% block body %}
<center>
  <h1>Welcome, {{user}}!</h1>
  <h3>Choose your art medium!</h3><br>

  {% for medium in mediums %}
  <a href="/display">{{medium}}</a><br>
  {% endfor %}
  
</center>



{% endblock %}
