{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block body %}

<center>
  <h1>Login!</h1><br>
  Please login! If you do not have an account, please 
  <span class="aclick-here"><a href="/register">click here</a>
  to register!<br><br></span>
  <form action ="/auth" method = "POST">
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
    <input type="submit" value="Login" name="Login">
  </form>
</center>

  
{% endblock %}
