{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}

{% block body %}

<center>
  <h1>Login!</h1><br>
  Please login! You <b>MUST</b> have an account to access this app's features!<br>
  If you do not have an account, please 
  <span class="aclick-here"><a href="/register">click here</a>
    to register!<br><br></span>


  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <span class="flash_msg"><center> {{message}} </center></span>
  {% endfor %}
  {% endif %}
  <br>
  {% endwith %}


  
  <div class="container">
  <form action="/auth" method="POST">
    <div class="form-group">
      <label for="usr">Username:</label>
      <input type="text" class="form-control" id="usr" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
    </div>
    <br>
      <button type="submit" class="btn-lg btn-primary" name="Register">Submit</button>
  </form>
  </div>
</center>

  
{% endblock %}
