{% extends "base.html" %}
{% block title %}
    Register
{% endblock %}

{% block body %}

<center>
  <h1>Register</h1><br>
  Please sign up! If you have an account, please
  <span class="aclick-here"><a href="/login">click here</a>
  to login!<br><br></span>
  <form action ="/register" method = "POST">
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password0"><br><br>
    Confirm Password: <input type="password" name="password1"><br><br>
    <input type="submit" name="Register">
  </form>
</center>


{% endblock %}
